<div class="col-sm-10 col-sm-offset-1 about">
	<h1>About Versuet</h1>
	&nbsp;
	<p>
	    Versuet was built by <a target="_blank" href="http://github.com/annagaiel">Anna</a>. It is a collection of motivational quotes from famous people, friends and their sayings. 
	</p>
	<br />
	<p>
	   	Motivation is the desire to achieve a Goal. Motivation with enthusiasm and energy really move us forward in life. Motivation will keep us on track and allow us to complete new projects or priorities in life. 
	</p>
	<br />
	<p>
		Reaching goals is possible when we take action and action is possible only when we stay motivated.
	</p>

	<div class="col-xs-12 col-sm-4">
		&nbsp;&nbsp;
		<%= image_tag 'profile.png', :class => 'img-responsive' %>
		&nbsp;
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Anna Natorilla</h2>
		<br />
		<p>
			She is a web developer and accessibility specialist. She has a track record for helping several complex web and mobile applications to achieve WCAG2 complaint. She consults Fortune 500 companies - Wells Fargo, JP Morgan Chase Bank, GM Financial, RBC Bank, and other financial companies regarding accessibility best practices. 
		</p>
	</div>
</div>
<br class="clear" />
<br />
<br />
