.clear, hr{
	clear:both;
}

.circle{
	font-weight: bold;
	font-size: italic;
	position: relative;
	border-radius: 100%;
	background: #CAE444;
	border: 1px dashed #FFF;
	width: 80px;
	height: 80px;
	margin: 10px 10px;
	text-align: center;
	color: #4B4B4B;
	font-size: 16px;
	line-height: 16px;
	cursor: pointer;
	transform:rotate(-7deg);
}

.slogan{
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	font-style: italic;
	padding-top: 26px;
	color: #7d7d7d;
}

.links{
	padding-top: 26px;
}

.links a{
	color: #CF4F54;
	font-size:25px;
	border-bottom: #92032F;
	font-family: 'quicksandregular', sans-serif;
	font-weight: bold;
}

header{
	border-top: 9px solid #303541;
}

body{
	background: #F9F9F9;
}

h1{
	font-family: 'bubblegum_sansregular', sans-serif;
	font-size: 48px;
}

h2{
	font-family: 'archisticobold', sans-serif;
	font-style: italic;
}

.next-quote, .next-quote:hover, .next-quote:focus{
	color: #CF4F54;
	font-family: 'quicksandregular', sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
}

.slogan{
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	font-style: italic;
	padding-top: 26px;
	color: #7d7d7d;
}

.footer-blurb{
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	font-style: italic;
	color: #7d7d7d;
	text-align: right;
	font-size: 14px;
}

.logo:hover{
	text-decoration: none;
};