.clear, hr{
	clear:both;
}

.img-responsive{
	border-radius: 10px;
	margin: 0 auto;
}

.centered{
  	padding: 15px;
  	margin: 0 auto;
}

.circle{
	font-weight: bold;
	font-size: italic;
	position: relative;
	border-radius: 100%;
	background: #CAE444;
	border: 1px dashed #FFF;
	width: 80px;
	height: 80px;
	margin: 10px 10px;
	text-align: center;
	color: #4B4B4B;
	font-size: 16px;
	line-height: 16px;
	cursor: pointer;
	transform:rotate(-7deg);
}

.links{
	padding-top: 26px;
}

.links a{
	color: #CF4F54;
	font-size: 20px;
	border-bottom: #92032F;
	font-family: 'quicksandregular', sans-serif;
	font-weight: bold;
}

body, .modal-body{
	background: #F9F9F9;
}

header {
	border-top: 9px solid #303541;
}

h1{
	font-family: 'bubblegum_sansregular', sans-serif;
	font-size: 48px;
	color: #3A3A3A;
}

h2{
	font-family: 'archisticobold', sans-serif;
	font-style: italic;
}

h2 span{
	color: #6B6B6B;
	font-family: 'quicksandregular', sans-serif;
}

.next-quote, .next-quote:hover, .next-quote:focus{
	color: #CF4F54;
	font-family: 'quicksandregular', sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
}

.slogan{
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	font-style: italic;
	padding-top: 26px;
	color: #7d7d7d;
	font-size: 25px;
    float:left !important; 
}

.footer-blurb{
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	font-style: italic;
	color: #7d7d7d;
	text-align: right;
	font-size: 14px;
}

.logo:hover{
	text-decoration: none;
}

.slogan, .about, .modal{
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	font-style: italic;
	padding-top: 26px;
	color: #7d7d7d;
}

::selection, .circle:hover, .circle:focus {
  background-color: #f84342;
  color: #fff;
}

p{
	font-size: 18px;
}

/*****
MEDIA
******/
@media (max-width: 750px) {
	.footer-blurb{
		text-align: left;
	}
}

@media screen and (max-width: 400px) {
	.img-responsive{
		max-width: 50%;
  	}

}

@media screen and (max-width: 600px) {

	.about h1, .about h2{
		margin: 0;
		padding: 0;
		font-size:26px;

	}

	h1{
  	  	font-size:36px;
  	}

  	h2{
  		font-size:26px;
  	}

 	.links a{
  	  	font-size:16px;
  	}

  	.next-quote{
  		font-size:14px;
  	}

  	.footer-blurb, p{
  		font-size:12px;
      	margin: 0 auto;
  	}

  	.next-quote, .next-quote:hover, .next-quote:focus {
  		text-align: center;
  		font-size: 14px;
  		margin: 0 auto;
  	}
}